[user]
	email = mattr.antonelli@gmail.com
	name = Matt Antonelli
[push]
	default = matching
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[hub]
	protocol = https
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = true
