[user]
	email = contact@raelys.com
	name = Matt Antonelli
[push]
	default = matching
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	ctags = !.git/hooks/ctags
[hub]
	protocol = https
[core]
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[diff]
	tool = vimdiff
[difftool]
	prompt = false
